# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
venv311/
.env

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# Alembic migrations cache
alembic/versions/*.pyc

# Logs
*.log
app.log
